$default-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

.textNode {
  color: white;
  background: transparent;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 6px;
  //border: 1px solid #555555;
  border: none;

  font-family: $default-font;
  font-size: 42px;

  resize: none;
  padding: 0 12px;
  outline: none;
  margin: 0;
}

.draggable {
  cursor: move;
}

.webviewNavbar {
  position: absolute;
  top: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  padding-left: 6px;
  padding-right: 6px;
  gap: 20px;
  align-items: center;

  &.hide {
    display: none;
  }
}

.forceFitContent {
  width: fit-content !important;
  height: fit-content !important;
}
