$default-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

.textNode {
  color: white;
  background: transparent;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 6px;
  border: 1px solid #555555;

  font-family: $default-font;
  font-size: 42px;

  resize: none;
}

.draggable {
  cursor: move;
}
