/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
html {
  background: linear-gradient(224.03deg, #FF8575 -4%, #DD439F 93.89%);
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body, * {
  -webkit-app-region: no-drag;
}

.nodes {
  position: absolute;
  width: 100%;
  height: 100%;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: space-around;*/
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000A0;
  z-index: 500;
}

.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 6px;
  position: fixed;
  font-size: 14px;
  padding: 8px 16px;
  top: 32px;
  border-radius: 16px;
  background-color: #33373b;
  color: #c4c4c4;
  z-index: 100;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.title-bar-container {
  height: 24px;
  display: flex;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  z-index: 1000;
  /*position: fixed;*/
  width: 100%;
}

.title-bar-padding {
  -webkit-app-region: drag;
  background-color: #33373b;
  /*width: 200px;*/
  height: 100%;
}

.title-bar-rest {
  -webkit-app-region: drag;
  background-color: #33373b;
  flex-grow: 1;
}

.title-bar {
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 10px;
}

.home {
  height: 100%;
  background-color: #33373b;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.tabs {
  -webkit-app-region: no-drag;
  display: flex;
  height: 100%;
}
.tab {
  background-color: #33373b;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-right: 1px solid #474d52;
}
.tab.selected {
  background-color: transparent;
  font-weight: bold;
}

body {
  position: relative;
  color: white;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  overflow-y: hidden;
  margin: 0;
}

:host(iframe) {
  border-radius: 40px;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
